<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layouts/master-layout}">

<head>
    <title>eRegistrar - Class Room</title>
</head>

<body>
    <div class="container py-5 h-100" layout:fragment="content">
        <div class="row justify-content-center align-items-center h-100 ">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3><a href="/eregistrar/classroom/list">Class Rooms </a></h3>
                    </div>

                </div>
            </div>
            <hr style="margin-top: 20px;" />
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Building Name</th>
                            <th scope="col">Room Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="classroom, counter : ${classroom}">
                            <th scope="row" th:text="${counter.count}+${'.'}"></th>
                            <td th:text="${classroom.buildingName}"></td>
                            <td th:text="${classroom.roomNumber}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>