<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="public/fragments/head-elements :: headElements">
    <title>eRegistrar - Student List</title>
</head>

<body>
    <div th:replace="public/fragments/header :: header"></div>
    <p>&nbsp;</p>
    <div class="container py-5 h-100 ">
        <div class="row justify-content-center align-items-center h-100 ">
            <div class="d-flex justify-content-between">
                <div>
                    <h3>Student List </h3>
                </div>
                <div>
                    <a href="/eregistrar/student/new" class="btn btn-info">Add new Student</a>
                </div>
            </div>
            <hr style="margin-top: 20px;" />
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student Number</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Middle Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">GPA</th>
                            <th scope="col">Enrollment Date</th>
                            <th scope="col">International</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student, counter : ${students}">
                            <th scope="row" th:text="${counter.count}+${'.'}"></th>
                            <td th:text="${student.studentNumber}"></td>
                            <td th:text="${student.firstName}"></td>
                            <td th:text="${student.middleName}"></td>
                            <td th:text="${student.lastName}"></td>
                            <td th:text="${student.cgpa}"></td>
                            <td th:text="${student.enrollmentDate}"></td>
                            <td th:if="${student.isInternational}"><span class="badge bg-success">Yes</span></td>
                            <td th:unless="${student.isInternational}"><span class="badge bg-primary">No</span>
                            <td scope="col"><a
                                    th:href="@{'/eregistrar/student/edit/{studentId}'(studentId=${student.studentId})}"
                                    class="btn btn-light">Edit</a></th>
                            <td scope="col"><a
                                    th:href="@{'/eregistrar/student/delete/{studentId}'(studentId=${student.studentId})}"
                                    class="btn btn-secondary">Delete</a></th>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="public/fragments/footer :: footer"></div>
</body>

</html>