<header th:fragment="header" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a style="padding-right: 2em;" class="navbar-brand" href="/">eRegistrar:: Web Application</a>
        <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-
            controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/eregistrar/public/about">About</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"
                    style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/secured/admin/usrmgmt/list">User</a>
                </li>
                <li sec:authorize="hasRole('ROLE_REGISTRAR')" class="nav-item"
                    style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/eregistrar/student/list">Student</a>
                </li>
                <li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-item"
                    style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/eregistrar/classroom/list">Class rooms</a>
                </li>
            </ul>
        </div>
        <div>
            <form name="logoutForm" th:hidden="true" method="post" th:action="@{/eregistrar/public/logout}">
                <input type="submit" value="Logout" />
            </form>
            <section class="d-flex">
                <span sec:authorize="isAnonymous()" style="color:#fff;padding-left: 2em; padding-right: 1em;">Welcome,
                    Guest</span>
                <span sec:authorize="isAuthenticated()"
                    style="color:#fff;padding-left: 0em; padding-right: 0.5em;">Welcome, </span><span
                    sec:authorize="isAuthenticated()" style="color:#fff;padding-left: 0em; padding-right: 0.5em;"
                    sec:authentication="principal.fullName"></span>
                <a sec:authorize="isAnonymous()" href="/eregistrar/public/login" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Sign In
                </a>
                <a href="javascript: logoutForm.submit();" sec:authorize="isAuthenticated()" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out
                </a>
            </section>
        </div>
    </nav>
</header>