<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/sketchy/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>eRegistrar - a demo spring boot webapp</title>
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <p>&nbsp;</p>
    <div class="container">
        <h2>Welcome to the eRegistrar system </h2>
        <hr />
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="student-registration.jpeg" height="300" class="rounded img-fluid" alt="" />
            </div>
            <div class="col-md-6">
                <h4>Student Management System</h4>
                <h4 class="subheading">A Student Management System is also known as a Student Information System (SIS).
                </h4>
                <p class="text-muted">To
                    browse and manage the <a href="/eregistrar/student/list">Students</a>, please first make sure to
                    read the
                    instructions and key points provided below. And then click the appropriate menu item, located on the
                    menu-bar above.

                    Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry. Lorem Ipsum has
                    been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the <span
                        class="text-success">
                        1960s with the release of
                        Letraset sheets containing</span> Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- <footer class="footer"> <div class="container">
<span class="text-muted">O. Kalu : : : CS425-SWE</span><span style="float:right;" class="text- muted">&copy; November 2018</span>
</div> </footer> -->
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-
q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384- ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384- smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>